# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/packages
/bin
/obj

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

# Visual Studio 2015 cache/options directory
.vs/

# Visual Studio 2017 cache/options directory
.vs/

# Rider files
.idea/
